.theme_background
{
    background: linear-gradient(rgba(0, 10, 35, 0.875), rgba(0, 10, 10, 0.875));  
    min-height: 90.1vh;
    overflow: hidden;
    width: auto;
    padding: 1vh;
}

.theme_light_border
{
    border: 2px solid rgb(100, 200, 250);
    border-radius: 10px;
}

.theme_text
{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}





