
.body {
    display:flex;
    flex-direction: column;
}
.tss {
    color:black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    opacity:1;
    
}
.dust {
    color:black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    opacity:1;
}
.eva {
    color:black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    opacity:1;
}

.eva2 {
    color:black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    opacity:1;
}

.ltv {
    color:black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    opacity:1;
}

