.UIA_container{
    display: flex;
    flex: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 1vh;
}

/* Combined Rule for egress/ingress containers, setting flexbox, dimensions, and alignment */
.egress_container, .ingress_container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 90vh;
    width: 49%;
    border-radius: 10px;
}

/* Egress container class specifying color and margin values for center*/
.egress_container{
    background: linear-gradient(rgba(216, 112, 80, 0.694), rgba(204, 178, 107, 0.379));
    margin-left: 0vw;
    margin-right: 1vw;
}

/* Ingress container class for specifying color and margin values to center the div*/
.ingress_container{
    background: linear-gradient(rgba(131, 97, 209, 0.811), rgba(213, 157, 236, 0.445));
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 1vw;
    margin-right: 0vw;
}

/* Combined button classes for font, padding, and border */
.egress_button, .ingress_button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40vh;
    border: solid 2px;
    padding: 10vh;
    padding-top: 5vh;
    padding-bottom: 5svh;
    font-size: xx-large;
    box-shadow: 3px 5px 12px rgba(20, 20, 19, 0.5);
    border-radius: 60px;
    transition: background-color 3ms;
    
    
}

/* Egress button class for background color */
.egress_button{
    background-color: rgba(211, 91, 31, 0.381);
        
}

/* Ingress button class for background color */
.ingress_button{
    background-color: rgba(31, 109, 211, 0.381);
    
}

.egress_button:hover {
    background-color: rgba(211, 91, 31, 0.8);
    transform: scale(1.00); /* Slight pop effect */
}

.ingress_button:hover {
    background-color: rgba(31, 109, 211, 0.8);
    transform: scale(1.00);
}

.egress_button:active {
    background-color: rgba(211, 91, 31, 0.6);
    transform: scale(0.94); /* Slight press effect */
}

.ingress_button:active {
    background-color: rgba(31, 109, 211, 0.6);
    transform: scale(0.94);
}