.UIA_container{
    display: flex;
    flex: auto;
    overflow: hidden;
}

.monitor_container{
    background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(40, 40, 40, 0.9));
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 17.5vh;
    width: 99%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 5vw;
    padding-top: 3vh;
}

/* Combined Rule for egress/ingress containers, setting flexbox, dimensions, and alignment */
.egress_container, .ingress_container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 65vh;
    width: 49%;
}

/* Egress container class specifying color and margin values for center*/
.egress_container{
    background: linear-gradient(rgba(47, 92, 255, 0.758), rgba(236, 236, 224, 0.747));
    margin-left: 0vw;
    margin-right: 1vw;
}

/* Ingress container class for specifying color and margin values to center the div*/
.ingress_container{
    background: linear-gradient(rgb(128, 86, 234), rgba(212, 204, 214, 0.724));
    display: flex;  
    flex-direction: column;
    justify-items: center;
    margin-left: 1vw;
    margin-right: 5vw;
}

/* Combined button classes for font, padding, and border */
.egress_button, .ingress_button{
    color: white;
    margin: 30vh;
    margin-top: 27vh;
    padding: 10vh;
    padding-top: 5vh;
    padding-bottom: 5svh;
    font-size: 30px;
    box-shadow: 3px 5px 12px rgba(20, 20, 19, 0.5);
    border-radius: 60px;
    transition: background-color 3ms;
    
    
}

/* Egress button class for background color */
.egress_button{
    background-color: rgba(35, 41, 227, 0.47);
}

/* Ingress button class for background color */
.ingress_button{
    background-color: rgba(151, 37, 222, 0.594);
    
}

/* .monitor_button{
    color: white;
    align-self: center;
    background-color: rgba(50, 100, 60, 0.47);
    padding: 10vh;
    padding-top: 5vh;
    padding-bottom: 5svh;
    font-size: 30px;
    box-shadow: 3px 5px 12px rgba(20, 20, 19, 0.5);
    border-radius: 60px;
    transition: background-color 3ms;
} */

.egress_button:hover {
    background-color: rgba(31, 109, 211, 0.381);
    transform: scale(1.00); /* Slight pop effect */
}

.ingress_button:hover {
    background-color: rgba(223, 104, 229, 0.381);
    transform: scale(1.00);
}

.egress_button:active {
    background-color: rgba(31, 109, 211, 0.381);
    transform: scale(0.94); /* Slight press effect */
}

.ingress_button:active {
    background-color: rgba(223, 104, 229, 0.381);
    transform: scale(0.94);
}

/* .monitor_button:hover {
    background-color: rgba(50, 100, 60, 0.381);
    transform: scale(1.00); /* Slight pop effect 
}

.monitor_button:active {
    background-color: rgba(50, 100, 60, 0.381);
    transform: scale(0.94);
} */

