.navBarList {
    font-size: 1.35rem;
    flex-direction: row;
    display: flex;
    list-style: none;
    margin-left: auto;
}

.navBarList li{
    margin: 0 10px; /* ✅ Adds spacing between list items */
}